<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/css/main.css">
    <title>Godlike</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="projects">
      <div class="header">
        <div class="part">
          <div class="intro">
            <h1>Vi hjälper barn att överleva och växa</h1>
            <p>
              Alldeles för många barn dör varje dag av sjukdomar som kan förebyggas. Vi kämpar över hela världen för att ge barn allt det som behövs för att överleva och växa. Som till exempel vaccin mot dödliga sjukdomar, hälsovård, rent vatten, toaletter, vätskeersättning, näringstillskott och myggnät som skyddar mot malaria. Och för barnens skull ser vi också till att gravida kvinnor och nyblivna mammor får bästa tänkbara hjälp och vård. Läs mer om barns överlevnad.
            </p>
          </div>
        </div>
        <div class="part">
          <div class="story">
            <img alt="" src="http://d3a93h6hjnkwzi.cloudfront.net/assets/c450x260/97e2b7e6d5ad377ec503f40baa9a22807495a308/1154.jpg">
            <h2>350 miljoner myggnät till Afrika</h2>
            <p>UNICEF är en av organisationerna i samarbetsprojektet "Roll back Malaria" som gör stora framsteg i kampen mot malaria.</p>
          </div>
        </div>
      </div>

      <h2 class="adjusted">Fakta <span class="light">om överlevnad och utveckling</span></h2>
      <div class="main-content">
        <div class="part">
          <div class="boxes">
            <div class="part"><div class="box">
              <img alt="" src="http://d3a93h6hjnkwzi.cloudfront.net/assets/c250x150/0a90d22156c58e97fc1bb620d9dfb7d7b8a75de2/6901.jpg">
              <h2>1 Barns överlevnad</h2>
              <p>Vi hjälper barn att överleva och växa</p>
            </div></div>
            <div class="part"><div class="box">
              <img alt="" src="http://d3a93h6hjnkwzi.cloudfront.net/assets/c250x150/0f997be65895f82e224832034a3e3813948bc3cf/1211.jpg">
              <h2>2 Barns överlevnad</h2>
              <p>Vi hjälper barn att överleva och växa</p>
            </div></div>
            <div class="part"><div class="box">
              <img alt="" src="http://d3a93h6hjnkwzi.cloudfront.net/assets/c250x150/48557a5eed250bc9f44a8bd8f6d724d174590fd8/1821.jpg">
              <h2>3 Barns överlevnad</h2>
              <p>Vi hjälper barn att överleva och växa</p>
            </div></div>
            <div class="part"><div class="box">
              <img alt="" src="http://d3a93h6hjnkwzi.cloudfront.net/assets/c250x150/aa3690ddbf90cce9f91f72652a151161bcea6fbe/1227.jpg">
              <h2>4 Barns överlevnad</h2>
              <p>Vi hjälper barn att överleva och växa</p>
            </div></div>
            <div class="part"><div class="box">
              <img alt="" src="http://d3a93h6hjnkwzi.cloudfront.net/assets/c250x150/1f6f01d50d66231ea81d0094d49ac99a838b5f73/1186.jpg">
              <h2>5 Barns överlevnad</h2>
              <p>Vi hjälper barn att överleva och växa</p>
            </div></div>
          </div>
        </div>
        <div class="part">
          <div class="teaser">
            Two
          </div>
        </div>
      </div>
    </div>
  </body>
</html>