@charset "UTF-8";
@import "godlike";
@import "fontello-embedded";

html, body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

img {
  width: 100%;
}

.projects {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  margin: 0 0 20px 0;
  @extend .grid-container;
  @media screen and (max-width: 720px) {
    @include grid(1);
  }
  @media screen and (min-width: 720px) {
    @include grid(2); // 2 columns
  }
}

.main-content {
  @extend .grid-container;
  @media screen and (max-width: 720px) {
    @include grid(1);
  }
  @media screen and (min-width: 720px) {
    @include grid(2, (9 3)); // 2 columns, the first column using 8 units, the second using 4
  }
}
.boxes {
  @extend .grid-container;
  @include grid(2, (), 9);
}

.teaser {
  padding: 20px;
  background: #ccc;
}
.box {
  padding: 20px;
  background: #333;
  color: #fff;
}



#nav {
  font-weight: 300;
  background: #00aeef;
  -webkit-border-radius: 5px;
  max-width: 1040px;
  margin: 20px auto 40px auto;
  @include clearfix();
  ul {
    margin: 0;
    padding: 0;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    float: left;
    &:first-child a {
      -webkit-border-radius: 5px 0 0 5px;
    }
    &:last-child a {
      -webkit-border-radius: 0 5px 5px 0;
    }
  }
  a {
    display: block;
    float: left;
    padding: 13px 20px 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    height: 34px;
    position: relative;
    &:hover {
      background-color: darken(#00aeef, 2%);
    }
  }
  @media screen and (max-width: 1040px) {
    #nav-user {
      display: none;
    }
  }
  @media screen and (max-width: 970px) {
    #nav-faq {
      display: none;
    }
  }
  @media screen and (max-width: 820px) {
    #nav-search,
    #nav-contact {
      display: none;
    }
  }
  @media screen and (max-width: 680px) {
    #nav-support-us,
    #nav-ativities,
    #nav-do-stuff {
      display: block;
    }
  }
  @media screen and (max-width: 680px) {
    margin-top: 10px;
    #nav-support-us,
    #nav-ativities,
    #nav-do-stuff {
      display: none;
    }
  }
}




#nav-home {
  background: url(http://d14h1qdtu0yvdw.cloudfront.net/assets/logo-white-8b860d2269082e4546179d9eebbce26d.png) 20px 10px no-repeat;
  width: 107px;
  height: 27px;
  text-indent: -9999px;
  background-size: 107px 27px;

}
#nav-user:before,
#nav-search:before,
#nav-more:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  text-indent: 0;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
  font-size: 120%; 
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

#nav-user,
#nav-search,
#nav-more {
  span {
    opacity: 0;
    -webkit-transition: opacity .2s;
    position: absolute;
    top: auto;
    bottom: -25px;
    left: 5px;
    right: 5px;
    text-align: center;
    color: #00aeef;
    font-size: 14px;
    font-style: normal;
    white-space: nowrap;
  }
  &:hover span {
    opacity: 1;
  }
  //position: absolute;
  //top: -999px;
  //left: 0;
}

#nav-more:before { content: '\f0c9'; } /* '' */
#nav-user:before { content: '👤'; } /* '\1f464' */
#nav-search:before { content: '🔍'; } /* '\1f50d' */
